<!-- Fill in this file to create a UI view for editing listing entries. -->
<div class="row" ng-controller="ListingsController" ng-init="findOne()">
  <div class="col-md-offset-1 col-md-10 formWrapper">
    <div class="page-header">
      <h2>Edit Listing</h2>
      <form name="listingForm" class="form-horizontal" ng-submit="update(listingForm.$valid)">
        <fieldset>
          <div class="form-group" show-errors>
            <label for="name">Name</label>
            <input name="name" type="text" ng-model="listing.name" id="name" class="form-control" placeholder="Reitz Union" required>
            <div ng-messages="listinfForm.name.$error" role="alert">
              <p </p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="code">Code</label>
            <input name="code" type="text" ng-model="listing.code" id="code" class="form-control" placeholder="{{listing.code}}" required>
            <div ng-messages="listinfForm.code.$error" role="alert">
              <p </p>
            </div>
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input name="address" type="text" ng-model="listing.address" id="listing.address" class="form-control" placeholder="Gainesville, FL">
          </div>
          <div class="form-group">
            <p </p>
            <input type="submit" class="btn btn-default">
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>